body {
    background-color: #EEEEEE;
    font-family: "Arial", "Helvetica", "Liberation Sans", sans-serif !important;
}

/* Prevent using SimSun */
:lang(zh-CN) {
    font-family: "Arial", "Helvetica", "Liberation Sans", "Noto Sans CJK SC", "Microsoft YaHei", sans-serif !important;
}

.text-success {
    color: #007b43 !important;
}

.faded {
    opacity: 0.5 !important;
}

#top-bar {
    height: 48px;
    background-color: #0d0015;
    line-height: 48px;
}

#bottom-bar {
    height: 26px;
    background-color: #eeeeee;
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#bottom-bar > table {
    width: 100%;
    font-size: 80%;
}

#infotab {
    line-height: 32px;
}

#exit-flag {
    height: 20px;
    margin: 0px;
    vertical-align: middle;
}

#exit-value {

}

#logo-icon {
    height: 42px;
}

#settings-icon {
    height: 22px;
}

#status-icon {
    height: 50px;
    margin-right: 16px;
}

#status-table {
    display: inline-table;
    width: auto;
    text-align: left;
    margin-top: 16px;
}

#status-text {
    font-size: 13pt;
}

#tooltip-text {
    font-size: 90%;
}
